name: GitHub Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        uses: sosedoff/actions/golang-build@master
        with:
          args: linux/amd64 darwin/amd64
      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            .release/
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            .release/git-semver-tag_linux_amd64
            .release/git-semver-tag_darwin_amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  homebrew-release:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment variables
        run: |
          echo "GITHUB_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: timo-reymann/homebrew-git-semver-tag
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Download binaries
        uses: actions/download-artifact@v2
        with:
          name: dist
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Prepare git
        run: |
            git config --global user.name "Github Actions"
            git config --global user.email no-reply@github.com
      - name: Run template call and push
        run: |
          ls
          CHECKSUM=$(sha256sum git-semver-tag_darwin_amd64 | cut -d " " -f 1)
          echo "$CHECKSUM"
          ./generate.py --version ${{ env.GITHUB_TAG }} --sha256-mac $CHECKSUM
          git add .
          git commit -m "chore: Update formula for version ${{ env.GITHUB_TAG }}"
          git push